.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__menu-hamburguer {
    width: 48px;
    height: 48px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 2.5em;
}

.cabecalho__container {
    display: flex;
    align-items: center;
    gap: 0.625em;
    margin-right: 1.5em;
}

.cabecalho__container__imagem {
    padding: 1em 0;
}

.menu__lista {
    display: none;
    position: absolute;
    top: 100%;
    width: 70vw;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.container__botao-menu:checked~.menu__lista {
    display: block;
}

.container__botao-menu {
    display: none;
}

.menu__lista__titulo,
.menu__lista__item {
    background-color: var(--branco);
    line-height: 24px;
}

.menu__lista__titulo {
    padding: 1.5em;
    color: var(--laranja-titulo);
    font-weight: 700;
}

.menu__lista__item {
    padding: 1em 1.5em;
}

.menu__lista__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

@media screen and (min-width: 1024px) {}